@model Clubs.Models.Contract

@{
    ViewData["Title"] = "New Contract for " + ViewBag.clubName;
}

<h2>New Contract for @ViewBag.clubName</h2>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class ="form-control" asp-items="ViewBag.GroupId"></select>
            </div>

           
            <div class="form-group" style="display:none;">
                <label asp-for="ClubId" class="control-label"></label>
                <select asp-for="ClubId" class ="form-control" asp-items="ViewBag.ClubId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PricePerPerformace" class="control-label"></label>
                <input asp-for="PricePerPerformace" class="form-control"/>
                <span asp-validation-for="PricePerPerformace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPerformances" class="control-label"></label>
                <input asp-for="NumberOfPerformances" class="form-control"/>
                <span asp-validation-for="NumberOfPerformances" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
